@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }
  @media (min-width: 1024px) {
    html {
      scroll-padding-top: 6rem;
    }
  }