---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Contacto | Penino">
  <section class="lg:w-[80%] flex flex-col mx-auto items-center">
    <h1
      class="text-lg lg:text-3xl uppercase font-bold font-[Archivo] pt-4 border-b-4 border-custom-blue inline-block"
    >
      Contáctate con nosotros
    </h1>
    <p
      class="lg:w-[75%] px-2 pt-4 text-justify lg:text-center text-xs lg:text-base"
    >
      ¿Tienes alguna duda o Consultas?
    </p>

    <form
      id="contact-form"
      class="flex flex-col py-2 px-8 m-2 lg:m-4 w-full lg:w-[50%]"
    >
      <div class="w-full flex flex-col gap-4 justify-center items-center">
        <input
          class="w-[80%] focus:outline-none placeholder-opacity-50 placeholder-custom-black px-2 border-b-2 border-custom-white"
          placeholder="Nombre"
          type="text"
          id="name"
          name="name"
          required
        />
        <input
          type="number"
          id="phone"
          name="phone"
          placeholder="Telefóno"
          class="w-[80%] focus:outline-none placeholder-opacity-50 placeholder-custom-black px-2 border-b-2 border-custom-white no-spinner"
          required
        />
        <input
          class="w-[80%] focus:outline-none placeholder-opacity-50 placeholder-custom-black px-2 border-b-2 border-custom-white"
          placeholder="Correo electrónico"
          type="email"
          id="email"
          name="email"
          required
        />
        <textarea
          class="w-[80%] my-4 focus:outline-none placeholder-opacity-50 placeholder-custom-black p-2 border-2 rounded border-custom-white h-40 resize-none"
          placeholder="Escriba su mensaje"
          id="message"
          name="message"
          required></textarea>
        <button
          class="w-[50%] font-[Archivo] uppercase bg-custom-blue text-white font-bold py-2 px-4 rounded-full transition-transform duration-200 ease-in-out lg:active:scale-90 lg:hover:scale-110"
          type="submit"
          >Enviar
        </button>
      </div>
    </form>
  </section>

  <script src="../../src/scripts/emailjs.js"></script>
</Layout>
