---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Penino">
	<div class="w-full h-[99vh] flex flex-col justify-center items-center">
		<img class="w-1/3" src="/proximamente.svg" alt="">
		<h1 class="text-custom-light text-3xl uppercase font-bold font-[Archivo] mt-4">Proximamente!</h1>
	</div>
</Layout>
