<div class="flex flex-wrap bg-custom-dark w-full h-auto">
  <div class="flex text-black w-full h-auto p-2 justify-around items-center">
    <div class="flex justify-center items-center px-2 w-auto h-auto">
      <svg
        class="p-1 w-auto h-auto"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1"
        stroke="#472ECD"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
        ></path>
        <path d="M3 7l9 6l9 -6"></path>
      </svg>
      <a
        class="px-1 text-sm md:text-base"
        href="mailto:contacto@penino.dev"
        aria-label="Enviar mensaje a por correo electrónico"
      >
        <p class="text-white">contacto@penino.dev</p>
      </a>
    </div>
    <div class="flex justify-center items-center px-2 w-auto h-auto">
      <svg
        class="p-1 w-auto h-auto"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1"
        stroke="#472ECD"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z"
        ></path>
        <path d="M11 4h2"></path>
        <path d="M12 17v.01"></path>
      </svg>
      <p class="px-1 w-auto h-auto text-white">
        <a href="tel:092630115" aria-label="Llamar a número celular"
          >092 630 115</a
        >
      </p>
    </div>
  </div>
  <div class="bg-custom-light w-full h-auto text-custom-black p-2 text-center">
    <p
      class="text-custom-primary text-sm md:text-base uppercase font-bold w-auto h-auto font-[Poppins]"
    >
      Todos los derechos reservados © 2024
    </p>
  </div>
</div>
