<div class="p-2 px-8 fixed bg-custom-light w-full shadow-md flex justify-between items-center">
    <a class="flex" href="/"><p class="text-2xl font-bold font-[Poppins]">Penino</p><img class="h-6" src="/assets/images/logo.png" alt="logo de penino"></a>
    <a class="bg-custom-primary text-white font-bold font-[Poppins] px-4 py-2 uppercase rounded-full transition-transform duration-200 ease-in-out lg:active:scale-90 lg:hover:scale-110" href="/contacto">Contacto</a>
</div>