<section
  class="w-full h-auto flex flex-col md:flex-row justify-center items-center py-10"
>
  <div
    class="w-full md:w-1/2 flex flex-col justify-center items-center p-4 text-center"
  >
    <h1 class="text-4xl font-bold font-[Poppins] uppercase py-4">Diseño Web</h1>
    <p class="text-justify font-[Poppins] text-xl px-8 pb-4">
      Construimos sitios web que combinan diseño impactante con funcionalidad
      excepcional. Conoce nuestras soluciones personalizadas para destacar en el
      mundo digital.
    </p>
    <a
      class="bg-custom-primary text-white font-bold font-[Poppins] px-4 py-2 uppercase rounded-full transition-transform duration-200 ease-in-out lg:active:scale-90 lg:hover:scale-110"
      href="/contacto"
    >
      Contacto
    </a>
  </div>
  <div class="w-full md:w-1/2 flex justify-center items-center p-4">
    <img
      class="w-full max-w-[500px]"
      src="/assets/images/hero.png"
      alt="Imagen descriptiva"
    />
  </div>
</section>
