<section class="w-full h-[99vh] flex justify-center items-center flex-col">
    <div class="flex flex-col md:flex-row justify-center items-center text-center py-10">
        <div class="md:w-1/2 p-4">
            <h1 class="text-4xl font-bold font-[Archivo] uppercase py-4">Diseño Web</h1>
            <p class="text-justify font-[Archivo] text-xl px-8 pb-4">Construimos sitios web que combinan diseño impactante con funcionalidad excepcional. Conoce nuestras soluciones personalizadas para destacar en el mundo digital."</p>
            <a class="bg-custom-primary text-white font-bold font-[Archivo] px-4 py-2 uppercase rounded-full transition-transform duration-200 ease-in-out lg:active:scale-90 lg:hover:scale-110" href="/contacto">Contacto</a>
        </div>
        <div class="md:w-1/2 p-4">
            <img class="w-full max-w-[500px]" src="/progressive_app.svg" alt="Imagen descriptiva">
        </div>
    </div>
</section>
